<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="images/logo.png">
        </div>

        <div class="logotipo">
            <h1>Engenharia de Software</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Cursos</a>
            </li>
            <li>
                <a href="#">Sobre</a>
            </li>
            <li>
                <a href="#">Noticias</a>
            </li>
            <li>
                <a href="#">Eventos</a>
            </li>
        </ul>
    </nav>

    <main>
        <section>
            <article>
                <img src="images/logo-sesed.png">
                <p>
                    Alunos da Especialização em Engenharia de Software do IFPI campus Picos lançam plataforma de
                    web de cadastro de ocorrências. O objetivo é utilizar a aplicação em centrais de atendimento
                    de emergências policiais em cidades pequenas.
                    <a href="/login">Faça login...</a>
                </p>
            </article>

            <article>
                <img src="images/news.jpg">
                <p>
                    Alunos da Especialização em Engenharia de Software do IFPI campus Picos lançam plataforma de
                    web de cadastro de ocorrências. O objetivo é utilizar a aplicação em centrais de atendimento
                    de emergências policiais em cidades pequenas.
                    <a href="/listusuarios">Liste os usuários</a>
                </p>
            </article>


            <article>
                <img src="images/news.jpg">
                <p>
                    O Campus Teresina Central, através de sua Diretoria de Extensão, divulga edital de seleção de propostas inovadoras de discentes
                    para o projeto Inova IFPI, através do edital PIBEX nº 101/2017 – PROEX/IFPI.
                    <a href="noticia.html">Leia mais</a>
                </p>
            </article>

            <article>
                <img src="images/news.jpg">
                <p>
                    O Campus Teresina Central, através de sua Diretoria de Extensão, divulga edital de seleção de propostas inovadoras de discentes
                    para o projeto Inova IFPI, através do edital PIBEX nº 101/2017 – PROEX/IFPI.
                    <a href="noticia.html">Leia mais</a>
                </p>
            </article>

            <article>
                <img src="images/news.jpg">
                <p>
                    O Campus Teresina Central, através de sua Diretoria de Extensão, divulga edital de seleção de propostas inovadoras de discentes
                    para o projeto Inova IFPI, através do edital PIBEX nº 101/2017 – PROEX/IFPI.
                    <a href="noticia.html">Leia mais</a>
                </p>
            </article>

        </section>
        <section>
            <h3>Cursos IFPI Picos</h3>
            <table>
                <tr>
                    <th>Curso</th>
                    <th>Turno</th>
                    <th>Vagas</th>
                </tr>
                <tr>
                    <td>ADS</td>
                    <td>Noite</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Tecnico em Info</td>
                    <td>Tarde</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Médio</td>
                    <td>Diurno</td>
                    <td>120</td>
                </tr>
            </table>
        </section>
    </main>
    <footer>
        <p><strong>Instituto Federal do Piauí - 2017</strong></p>
    </footer>

</body>

</html>
