<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta http-equiv="content-type" content="text/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Página baseada na documentação oficial do Bootstrap [https://getbootstrap.com/docs/4.0/examples/]">
		<meta name="author" content="Fernando Gomes Jr, Lucas Moura, Moacir Freire e Danilo Sousa">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <!-- Estilos personalizados -->
		<link href="stylesheets/pricing.css" rel="stylesheet">
		<link href="stylesheets/dashboard.css" rel="stylesheet">
		<link href="stylesheets/form-validation.css" rel="stylesheet">
		<style type="text/css">/* Chart.js */
		@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>

  </head>
  <body>

    <% include partials/menus.ejs %>

		<div class="container">
			<!-- Formulário de dacastro -->
			<div class="py-5 text-center">
        <h2>Cadastro de Usuários</h2>
      </div>

      <div class="row row_padding">
        <div class="col-md-10">

          <form action="/adduser" method="post" class="needs-validation" novalidate>

              <div class="mb-3">
                <label for="nomeusu">Nome</label>
                <input type="text" class="form-control" name="nomeusu" placeholder="Nome completo" value="" required>
                <div class="invalid-feedback">
                  Entrar com um nome válido.
                </div>
              </div>

  					<div class="form-row"> <!-- Início da row de Patente -->
              <div class="col-md-4 mb-3">
                <label for="postoGraduacao">Patente</label>
                <select class="custom-select d-block w-100" name="postoGraduacao" required>
                  <option value="">Escolha a patente</option>
                  <optgroup label="Oficiais">
                    <option>Coronel</option>
                    <option>Tenente-Coronel</option>
    								<option>Major</option>
    								<option>Capitão</option>
    								<option>Primeiro Tenente</option>
    								<option>Segundo Tenente</option>
                    <option>Aspirante a Oficial</option>
                  </optgroup>
                  <optgroup label="Praças">
                    <option>Sub Tenente</option>
                    <option>1º Sargento</option>
                    <option>2º Sargento</option>
                    <option>3º Sargento</option>
    								<option>Cabo</option>
    								<option>Soldado</option>
                  </optgroup>
                </select>
                <div class="invalid-feedback">
                  Escolha uma categoria.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="numeropraca">Número de praça</label>
                <input type="text" class="form-control" name="numeropraca" placeholder="Ano.número" value="">
                <div class="invalid-feedback">
                  Entre com o número de praça no formato AAAA.NNNN.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="matricula">Matrícula</label>
                <input type="text" class="form-control" name="matricula" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Entre com uma matricula.
                </div>
              </div>
            </div> <!-- fim da row de Patente -->

            <div class="mb-3">
              <label for=funcao>Função</label>
              <input type="text" class="form-control" name="funcao" placeholder="Função que exerce">
            </div>

            <hr class="mb-4">

            <div class="form-row"> <!-- Início da row de Endereço -->
              <div class="col-md-9 mb-3">
                <label for="logradouro">Rua/Avenida/Travessa</label>
                <input type="text" class="form-control" name="logradouro" placeholder="Insira nome da rua">
              </div>
              <div class="col-md-3 mb-3">
                <label for="numero">Número</label>
                <input type="text" class="form-control" name="numero">
              </div>
            </div> <!-- Fim da row de Endereço -->

            <!-- Bairro, cidade e estado -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" name="bairro" placeholder="Informe o nome do bairro">
              </div>

              <div class="col-md-4 mb-3">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" name="cidade" placeholder="Informe o nome do cidade">
              </div>

              <div class="col-md-4 mb-3">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" name="estado" placeholder="Informe o nome do estado">
              </div>
            </div>

            <hr class="mb-4">

            <div class="form-row"> <!-- Início da row de Contato -->
              <div class="col-md-4 mb-3">
                <label for="contato">Telefone</label>
  							<div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">(89)</span>
                  </div>
                  <input type="tel" class="form-control" name="contato" placeholder="0000-0000" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Entre com um contato válido.
                  </div>
                </div>
              </div>

              <div class="col-md-8 mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
                <div class="invalid-feedback" style="width: 100%;">
                      Entre com um email válido.
                </div>
              </div>

            </div> <!-- fim da row de Contato -->


            <hr class="mb-4">


            <div class="form-row"> <!-- início da row email e senha -->
              <div class="col-md-4 mb-3">
                <label for="usuario">Usuário</label>
                <input type="text" class="form-control" name="usuario">
              </div>
              <div class="col-md-4 mb-3">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="idsenha" name="senha">
              </div>
              <div class="col-md-4 mb-3">
                <label for="confirmaSenha">Confirme a senha</label>
                <input type="password" class="form-control" id="idconfirmaSenha" name="confirmaSenha">
                <div class="invalid-feedback" style="width: 100%;">
                    As senhas não coincidem.
                </div>
              </div>
            </div> <!-- Final da row email e senha -->

            <hr class="mb-4">
            <div class="form-row">
              <button class="btn btn-primary btn-lg offset-md-1" type="submit">Efetuar cadastro</button>
              <button class="btn btn-danger btn-lg offset-md-1" type="reset">Limpar campos</button>
              <a href="/listusuarios"
              <button class="btn btn-info btn-lg offset-md-1" type="button">Listar usuários</button>
            </a>
            </div>

          </form>
        </div>
      </div>

		  <footer class="footer_fixed">
					<div class="row">
					  <div class="col-12 col-md">
							<small class="">© 2017-2018</small>
					  </div>
					</div>
		  </footer>

		</div>	<!--Fim do container -->

			<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<script src="javascripts/jquery-3.2.1.slim.min.js" type="text/javascript" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>


    <script src="javascripts/popper.min.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="javascripts/holder.min.js"></script>
		<script>

    //verifica se as senhas informadas são idênticas
    var idsenha = document.getElementById("idsenha");
    var idconfirmaSenha = document.getElementById("idconfirmaSenha");
    function validatePassword(){
      if(idsenha.value != idconfirmaSenha.value) {
        idconfirmaSenha.setCustomValidity("Senhas diferentes!");
      } else {
        idconfirmaSenha.setCustomValidity('');
      }
    }
    idsenha.onchange = validatePassword;
    idconfirmaSenha.onkeyup = validatePassword;

			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function() {
				'use strict';

				window.addEventListener('load', function() {
					// Fetch all the forms we want to apply custom Bootstrap validation styles to
					var forms = document.getElementsByClassName('needs-validation');

					// Loop over them and prevent submission
					var validation = Array.prototype.filter.call(forms, function(form) {
						form.addEventListener('submit', function(event) {
							if (form.checkValidity() === false) {
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add('was-validated');
						}, false);
					});
				}, false);
			})();
		</script>



  </body>
</html>
